header {
  margin: 0 auto;
  padding: 0.5 rem;
  text-align: center;
  font-size: medium;
  color: white;
  background-color: aqua;
}

#new-task {
  width: max-content;
  height: 2rem;
  margin: 0 auto;
}

#add-button {
  width: 2.25rem;
  height: 2rem;
}

.input-div {
  padding: 0.5rem;
  text-align: center;
}

.list-div {
  padding: 0.5rem;
  text-align: center;
}

.task-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.garbage-button > img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.line-through {
  text-decoration: line-through;
}
